.mainbtn{
    width: 30%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-45%);
    
}
.mainbtn button{
    width: 60%;
    height: 10vh;
    font-family: "Plus Jakarta Sans";
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
    background-color: #212121;
    color: #FFFFFF;
    border-radius: 86px;
    border: 0.5px solid;
    border-image-source: radial-gradient(67.28% 402.79% at 19.38% -80.1%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 
    
}
@media (min-width: 320px) and (max-width: 480px){
    .mainbtn{
        width: 70%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0,-45%);
        
    }
    .mainbtn button{
        width: 60%;
        height: 10vh;
        font-family: "Plus Jakarta Sans";
        font-size: 0.8rem;
        font-weight: 400;
        border: none;
        background-color: #212121;
        color: #FFFFFF;
        border-radius: 86px;
        border: 0.5px solid;
        border-image-source: radial-gradient(67.28% 402.79% at 19.38% -80.1%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 
        
    }
}